.layoutContainer {
	font-family: Georgia;
	background-color: black;
	overflow-x: hidden;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: black;
	color: white;
	font-size: 2em;

}

.navBar {
	background-color: #1c1c1e !important;
	padding: 20px !important;
	text-decoration: none;
}

.hamButton {
	color: white;
}

.navElements {
	text-align: end;
}

.LinkElements {
	
	padding-bottom: 10px;
	font-size: larger;
	text-decoration: none;
	color: white;
	position: relative;
	transition: all 0.3s;
	font-size: x-large;

}

.LinkElements::before {
	content: '';
	background-color: #007bff;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	transition: 0.4s ease-in-out;
}

.LinkElements:hover::before {
	width: 40%;
}

.LinkElements[class*="active"]::before {
	width: 100%;
}
